<app-footer-connection></app-footer-connection>
<footer class="footer ">
  <div class="card mypc">
    <div class="card-body">
      <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="https://www.bootstrapdash.com/" target="_blank">RiccosPyP </a>2024</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Sólo lo mejor <a href="https://www.bootstrapdash.com/" target="_blank">RiccosPyP </a> templates</span>
      </div>
    </div>
  </div>
</footer>
