<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container my-4">
  <div class="row">
    <aside class="col-sm-6">
      <p>Payment form2</p>
      <article class="card">
        <div class="card-body p-5">
          <ul class="nav nav-pills nav-fill mb-3" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-bs-toggle="pill" href="#nav-tab-card">
                <i class="fa fa-credit-card"></i> Credit Card</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="pill" href="#nav-tab-paypal">
                <i class="fab fa-paypal"></i> Paypal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="pill" href="#nav-tab-bank">
                <i class="fa fa-university"></i> Bank Transfer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="pill" href="#nav-tab-cash">
                <i class="fa fa-money-bill"></i> Cash</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-tab-card">
              <p class="alert alert-success">Some text success or error</p>
              <form role="form">
                <div class="mb-3">
                  <label for="fullName">Full name (on the card)</label>
                  <input type="text" class="form-control" name="fullName" placeholder="" required>
                </div>
                <div class="mb-3">
                  <label for="cardNumber">Card number</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="cardNumber" placeholder="">
                    <span class="input-group-text text-muted">
                      <i class="fab fa-cc-visa"></i> <i class="fab fa-cc-amex"></i> <i class="fab fa-cc-mastercard"></i>
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8">
                    <div class="mb-3">
                      <label><span class="hidden-xs">Expiration</span></label>
                      <div class="input-group">
                        <input type="number" class="form-control" placeholder="MM" name="expiryMonth">
                        <input type="number" class="form-control" placeholder="YY" name="expiryYear">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="mb-3">
                      <label data-bs-toggle="tooltip" title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                      <input type="number" class="form-control" name="cvv" required>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary btn-block" type="button">Confirm</button>
              </form>
            </div>
            <div class="tab-pane fade" id="nav-tab-paypal">
              <p>Paypal is easiest way to pay online</p>
              <p>
                <button type="button" class="btn btn-primary"><i class="fab fa-paypal"></i> Log in my Paypal</button>
              </p>
            </div>
            <div class="tab-pane fade" id="nav-tab-bank">
              <p>Bank account details</p>
              <dl class="row">
                <dt class="col-sm-3">BANK:</dt>
                <dd class="col-sm-9">THE WORLD BANK</dd>
                <dt class="col-sm-3">Account number:</dt>
                <dd class="col-sm-9">12345678912345</dd>
                <dt class="col-sm-3">IBAN:</dt>
                <dd class="col-sm-9">123456789</dd>
              </dl>
            </div>
            <div class="tab-pane fade" id="nav-tab-cash">
              <form role="form">
                <div class="mb-3">
                  <label for="amountPaid">Amount Paid</label>
                  <input type="number" class="form-control" id="amountPaid" name="amountPaid" placeholder="Enter the amount paid" required>
                </div>
                <div class="mb-3">
                  <label for="changeDue">Change Due</label>
                  <input type="number" class="form-control" id="changeDue" name="changeDue" placeholder="Enter the change due" required>
                </div>
                <button class="btn btn-primary btn-block" type="button">Confirm Payment</button>
              </form>
            </div>
          </div>
        </div>
      </article>

    </aside>
  </div>
</div>




 <!-- **************************************** -->

 <div class="container mt-5">
      <div class="row">
          <div class="col-lg-8 mb-4">
              <h4>Order Summary</h4>
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th>CANTIDAD</th>
                          <th>DESCRIPCIÓN</th>
                          <th>P. UNIT.</th>
                          <th>IMPORTE</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let detalle of pedidoRecibido?.detallePedidoResp" >
                          <td>{{detalle.cantidad}}</td>
                          <td>{{detalle.nombreProducto}}</td>
                          <td>{{detalle.precioUnitario}}</td>
                          <td>{{calcularImporte(detalle.cantidad, detalle.precioUnitario)}}</td>
                      </tr>
                  </tbody>
                  <tfoot>
                      <tr>
                          <td colspan="3" class="text-end">OP. AGRAVADAS: S/</td>
                          <td>{{totalConIgv}}</td>
                      </tr>
                      <tr>
                          <td colspan="3" class="text-end">IGV 18%: S/</td>
                          <td>{{igv}}</td>
                      </tr>
                      <tr>
                          <td colspan="3" class="text-end fw-bold">TOTAL:</td>
                          <td class="fw-bold">{{totalImporte}}</td>
                      </tr>
                  </tfoot>
              </table>
          </div>
          <div class="col-lg-4 mb-4">
              <div class="card mb-3">
                  <div class="card-header">
                      Shipping Address
                  </div>
                  <div class="card-body">
                      <p>No 40 Galaxy Enque Street 133/2,<br>New York, USA<br>00004-1988</p>
                  </div>
              </div>
              <div class="card mb-3">
                  <div class="card-header">
                      Billing Address
                  </div>
                  <div class="card-body">
                      <p>No 40 Galaxy Enque Street 133/2,<br>New York, USA<br>00004-1988</p>
                  </div>
              </div>
              <div class="card mb-3">
                  <div class="card-header">
                      Shipping Method
                  </div>
                  <div class="card-body">
                      <p>Flat Rate - Fixed<br>Delivery Date: N/A</p>
                  </div>
              </div>
              <div class="card mb-3">
                  <div class="card-header">
                      Payment Method
                  </div>
                  <div class="card-body">
                      <p>Check / Money order<br>Cash on delivery</p>
                  </div>
              </div>
              <div class="d-flex justify-content-between">
                  <button class="btn btn-secondary"(click)="nuevoPedido()">Nuevo Pedido</button>
                  <button class="btn btn-primary" (click)="imprimirComprobante()">Imprimir  Comprobante</button>
                  <button class="btn btn-success" (click)="hacerVenta()" >Hacer Venta</button>
              </div>
          </div>
      </div>
  </div>




