<header  [ngClass]="{
  'bg-success': wsService.socketStatus,
  'bg-danger': !wsService.socketStatus
}" class="fixed-top p-2 px-6 text-white text-right d-flex justify-content-between">

  <div>
    Lista de Pedidos:
    <span class="text-success px-2 py-1 rounded-pill fw-bold mysc-text mypc text-uppercase">
      {{estadoDelDetallePedido}}</span>
  </div>

<p-treeSelect
  class="md:w-20rem w-full"
  containerStyleClass="w-full"
  [(ngModel)]="selectedNodes"
  [options]="nodes"
  placeholder="Seleccione estado del pedido"
  (ngModelChange)="navigate()">
</p-treeSelect>


  <div>
    Estado del Servidor:
    <span *ngIf="wsService.socketStatus" class="text-success bg-dark  px-2 py-1 rounded-pill fw-bold">Online</span>
    <span *ngIf="!wsService.socketStatus" class="text-danger bg-dark  px-2 py-1 rounded-pill fw-bold">Offline</span>
  </div>

</header>
