<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-success text-white">
      <h4 class="card-title">Estado del Pago</h4>
    </div>
    <div class="card-body">
      <p><strong>Estado:</strong> {{ parametros?.status }}</p>
      <p><strong>ID del Pago:</strong> {{ parametros?.payment_id }}</p>
      <p><strong>Tipo de Pago:</strong> {{ parametros?.payment_type }}</p>
      <p><strong>ID de la Orden:</strong> {{ parametros?.merchant_order_id }}</p>
    </div>
  </div>
</div>
