.me-3 {
  padding: 10px;
}


@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.animate-icon {
  animation: shake 0.5s ease-in-out infinite;
  color: red !important; /* Cambia el color a rojo para más visibilidad */
}
