<div class="container-fluid">
  <div class="text-center text-white">
  </div>
</div>

<!-- <div class="container"

  style="background-image: url('../../../../../assets/img/menu/hero.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; padding: 50px 0;">
  <div class="text-center text-white">
    <h1 class="display-4">RICCOS</h1>
    <h4 class="display-4">Pollos y Parrillas</h4>
    <p class="lead">Los mejores sabores a solo un clic de distancia.</p>
  </div>
</div> -->

<!--  <div class="container">
  <div class="row gy-4 justify-content-center justify-content-lg-between">
    <div class=" order-2 order-lg-1 d-flex flex-column justify-content-center">
      <h1 >Enjoy Your Healthy<br>Delicious Food</h1>
      <p >We are team of talented designers making websites with Bootstrap</p>
      <div class="d-flex">
      </div>
    </div>
    <div class="col-lg-5 order-1 order-lg-2 hero-img">
      <img src="/src/assets/ic_riccos_1.png" class="img-fluid animated" alt="">
    </div>
  </div>
</div>
 -->
