<app-header-conection [estadoDelDetallePedido]="componente"></app-header-conection>

<div class="container mt-8">
  <!-- <p-messages></p-messages>
 -->
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4"
    *ngFor="let pedido of PedidosRecibidos; let i = index"
    >
      <div class="card shadow-sm h-100" [ngClass]="{'card-pedido': i + 1 === indiceCard}">
        <div class="card-header mytc">
          <p class="p-2">Pedido N°:   <strong class="rounded-circle p-2 fs-3 mysc">{{ i + 1 }}</strong></p>

          <h5 class="m-0">Pedido ID: {{ pedido.id }}</h5>
        </div>

        <div class="card-body">
          <p><strong>Servicio:</strong> {{ pedido.idServicio }}</p>
          <p><strong>Hora de Entrada:</strong> {{ pedido.horaEntrada }}</p>

          <h6 class="mt-3">Detalles del Pedido:</h6>
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Producto</th>
                  <th>Cant.</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of pedido.detallePedidoResp; let j = index"
                    [ngClass]="{'row-pedido': (i + 1 === indiceCard) && (j + 1 === indiceRow)}">
                  <td>{{ j + 1 }}</td>
                  <td>{{ item.nombreProducto }}</td>
                  <td>{{ item.cantidad }}</td>
                  <td>
                    <button class="btn btn-sm btn-danger" (click)="detallePedidoFinalizado(i + 1, j + 1)">
                      <i class="pi pi-check"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button pButton
  type="button"
  class="btn btn-lg rounded-pill px-4 shadow-sm"
  [ngClass]="{'btn-danger': !isRecording, 'btn-success': isRecording}"
  (mousedown)="startRecording()"
  (mouseup)="stopRecording()">
<i class="pi pi-microphone"></i> Mantén para Hablar
</button>


</div>


