<!-- About Section -->
<section id="about" class="about section">

  <!-- Section Title -->
  <div class="container section-title" >
    <p><span>Conoce Más</span> <span class="description-title">Sobre Nosotros</span></p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">
      <div class="col-lg-7" >
        <img src="https://scontent.fjau3-1.fna.fbcdn.net/v/t39.30808-6/470213619_880220164321567_6555337965957782524_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeFYbm17OFaks7MUs2XrF5mNpBNVfpp8CnGkE1V-mnwKcfPtCb8RvZSUUFn36Cf8H2-emeRFhfUxS587BAKfhii7&_nc_ohc=3yzjPRFHxaUQ7kNvgFB8j8O&_nc_oc=Adh4PoqN-OA1KogmwYvotFk6UcT3IsiwAVuuvd4pORewrdZbfdkNlSzCUgPiCfRncG_TymbeDiFjDg_J01yIf3ba&_nc_zt=23&_nc_ht=scontent.fjau3-1.fna&_nc_gid=AkwrM5X3GplYCb4-Ap-HdSn&oh=00_AYDQY1lrHAjiaoZZ-VNtIU_OiFf-6gN7MIAhCv583nU7Vg&oe=67AF4D47" class="img-fluid mb-4" alt="Pollos a la Brasa y Parrillas Riccos">
      </div>
      <div class="col-lg-5" >
        <div class="content ps-0 ps-lg-5">
          <p class="fst-italic">
            En <strong>Pollos a la Brasa y Parrillas Ricco's</strong>, nos especializamos en brindarte el mejor sabor con ingredientes frescos y un toque único que nos distingue.
          </p>
          <ul>
            <li><i class="bi bi-check-circle-fill"></i> <span>Sabores inigualables con la mejor selección de ingredientes.</span></li>
            <li><i class="bi bi-check-circle-fill"></i> <span>Un ambiente acogedor y atención de primera para que disfrutes cada visita.</span></li>
            <li><i class="bi bi-check-circle-fill"></i> <span>Opciones para todos los gustos: pollo a la brasa, parrillas, y más.</span></li>
          </ul>
          <p>
            Nuestra misión es ofrecerte una experiencia gastronómica inolvidable con cada bocado. ¡Ven y disfruta de lo mejor en Pollos a la Brasa y Parrillas Riccos!
          </p>
        </div>
      </div>
    </div>

  </div>

</section>
